@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.content-container {
  width: min(100% - 2rem, 1200px);
  margin: 0 auto;
}

/* Headings Underline */
h2,
h3 {
  @apply mb-9 after:absolute after:block after:h-2 after:w-16 after:translate-y-6 after:bg-apricot after:content-[""];
}

.debug {
  outline: 1px solid;
}

.stack {
  position: relative;

  display: grid;
  grid-template-areas: 'stack';
}

.stack > * {
  grid-area: stack;
}
