@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.content-container {
  width: min(100% - 2rem, 1200px);
  margin: 0 auto;
}

h3 {
  @apply after:bg-apricot mb-9 after:absolute after:block after:h-2 after:w-16 after:translate-y-6 after:content-[""];
}

.debug {
  outline: 1px solid;
}
